/*
*  Plugin css
*
*/
.fixcarousel{
	width:100%;
}

.entry-content a{
    box-shadow: none !important;
}
.content_area{ }
.excerpt_details, #excerpt_color_area{
	display: none;
}
.custom_details{
	display: none;
}
.portfolio-item img {
    height: 180px;
}

/* Post Slider 001*/

.tps_single_slider_items{
	border-bottom: medium none;
	box-shadow: none;
	margin: 0px;
	transition: all 0.4s ease-in-out 0s;
}
.tps_single_slider_items .tps_single_slider_items_post_images{
	position: relative;
	overflow: hidden;
}
.tps_single_slider_items .tps_single_slider_items_post_images:before{
	content: "";
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background: rgba(0, 0, 0, 0);
	transition: all 0.4s linear 0s;
}
.tps_single_slider_items:hover .tps_single_slider_items_post_images:before{
	background: rgba(0, 0, 0, 0.6);
}
.tps_single_slider_items img {
  border-radius: 0;
  box-shadow: none;
}
.tps_single_slider_items .tps_single_slider_items_category {
	width: 100%;
	font-size: 16px;
	color: #fff;
	line-height: 11px;
	text-align: center;
	text-transform: capitalize;
	padding: 11px 0;
	background: #ff9412;
	position: absolute;
	bottom: 0;
	left: -100%;
	transition: all 0.5s ease-in-out 0s;
}
.tps_single_slider_items:hover .tps_single_slider_items_category{
	left: 0;
}
.tps_single_slider_items .tps_single_slider_item_reviews{
	padding: 15px;
	background: #fff;
	position: relative;
}
.tps_single_slider_items .tps_single_slider_item_post_title{
	margin-bottom: 10px;
	margin-top: 10px;
}
.tps_single_slider_item_reviews h3.tps_single_slider_item_post_title {
  margin-bottom: 10px;
}
.tps_single_slider_items .tps_single_slider_item_post_title a {
  border-bottom: medium none;
  box-shadow: none;
  font-weight: normal;
  outline: medium none;
  text-decoration: none;
  transition: all 0.3s linear 0s;
}
.tps_single_slider_items .tps_single_slider_item_description{
	font-size: 15px;
	color: #555;
	line-height: 26px;
}
.tps_single_slider_item_reviews .tps_single_excerpt_area {
  padding-top: 10px;
}
.tps_single_slider_items .tps_single_excerpt_area > a {
  box-shadow: none;
  font-size: 15px;
  outline: medium none;
  text-decoration: none;
}
.tps_single_slider_items .tps_single_slider_items_category > a {
  border: medium none;
  box-shadow: none;
  color: #000;
  margin-right: 8px;
  text-decoration: none;
}
.tps_single_slider_items .tps_single_slider_items_category > a:hover {
  color: #fff;
}
.tps_single_slider_items .tps_single_slider_items_category > a::after {
    content: "/";
    margin-left: 5px;
}
.tps_single_slider_items .tps_single_slider_items_category > a:last-child::after {
    content: "";
}
.tps_single_items_meta_info {
    display: block;
    overflow: hidden;
}

/* Post Slider Style 002*/
.tppostslider_style2{
	padding: 0px;
}
.tppostslider_style2 .tppostslider_style2_thumb{
	position: relative;
}
.tppostslider_style2 .tppostslider_style2_thumb > a{
	display:block;
}
.tppostslider_style2 .tppostslider_style2_thumb img{
	border-radius: 0;
	box-shadow: none;
	width: 100%;
}
.tppostslider_style2 .tppostslider_style2_thumb:hover:before{
	content: "";
	position: absolute;
	width: 100%;
	height:100%;
}
.tppostslider_style2 .tppostslider_style2_thumb:hover:after{
	opacity: 1;
	transform: scale(1);
}
.tppostslider_style2 .tppostslider_style2_title > a{
	display: block;
	text-decoration:none;
	border-bottom:none;
	box-shadow: none;
}
.tppostslider_style2 .tppostslider_style2_info{
	padding: 0;
	list-style: none;
	margin-bottom:0px;
	display:block;
	overflow:hidden;
	list-style:none;
}
.tppostslider_style2 .tppostslider_style2_title {
    margin-bottom: 10px;
}
.tppostslider_style2 .tppostslider_style2_info > li{
	display: inline-block;
	margin-right: 10px;
	float:right;
}
.tppostslider_style2 .tppostslider_style2_info > li:last-child {
    margin-right: 0;
}
.tppostslider_style2 .post_slider_style_post_date,
.tppostslider_style2 .post_slider_style_post_author,
.tppostslider_style2 .post_slider_style_post_author > a{
	color:#8f8f8f;
	text-transform: capitalize;
	text-decoration:none;
}
.tppostslider_style2 .post_slider_style_post_date > i,
.tppostslider_style2 .post_slider_style_post_author > i{
	margin-right: 5px;
}
.tppostslider_style2 .post_slider_style_post_author > a:hover{
	color:#dc005a;
}
.tppostslider_style2 .post_slider_style_post_author a i.fa{
	margin-right:5px;
}
.tppostslider_style2 .post_slider_style_post_description{
	color:#8f8f8f;
	font-size: 14px;
	line-height: 24px;
	padding-top: 5px;
}
.tppostslider_style2 .post_slider_style_post_description:before{
	content: "";
	display: block;
	border-top: 4px solid #dc005a;
	padding-bottom: 12px;
	width: 50px;
}

/* Post Slider Style 003   */
.tppostslider_style3{
	padding: 15px;
	margin: 0px;
	position: relative;
}
.tppostslider_style3:before{
	content: "";
	border-top:1px solid transparent;
	position: absolute;
	top:0;
	left:0;
	width: 100%;
	transition:all 0.3s ease-in-out 0s;
}
.tppostslider_style3:hover:before{
	border-top: 1px solid #3398db;
}
.tppostslider_style3:hover{
	border-top: 1px solid #3398db;
}
.tppostslider_style3 .tppostslider_style3_img > img{
	width: 100%;
	height:auto;
}
.tppostslider_style3 .tppostslider_style3_title > a{
	font-size: 20px;
	text-transform: capitalize;
	color:#333;
	transition:all 0.3s ease-in-out 0s;
	text-decoration:none;
	border-bottom:none;
	box-shadow: none;
}
.tppostslider_style3 .tppostslider_style3_title > a:hover{
	text-decoration: none;
	color:#3398db;
	text-decoration:none;
}
.tppostslider_style3_title {
    padding: 10px 0px;
}
.tps-slider-thumb-style3 a img {
  border-radius: 0;
  box-shadow: none;
}
.tppostslider_style3 .tppostslider_style3_bars{
	padding: 0;
	list-style: none;
	overflow: hidden;
	display:block;
}
.tppostslider_style3 .tppostslider_style3_bars li i.fa{
	margin-right:5px;
}
.tppostslider_style3 .tppostslider_style3_bars > li{
	border-right: 1px solid #999;
	display: inline-block;
	float: left;
	margin: 0;
	padding: 0 10px;
}
.tppostslider_style3 .tppostslider_style3_bars > li:first-child{
	padding: 0 10px 0 0;
}
.tppostslider_style3 .tppostslider_style3_bars > li:last-child{
	border: 0px none;
}
.tppostslider_style3 .tppostslider_style3_dates,
.tppostslider_style3 .tppostslider_style3_autors,
.tppostslider_style3 .comment{
	color:#3398db;
	font-size: 11px;
}
.tppostslider_style3 .tppostslider_style3_autors > a,
.tppostslider_style3 .comment > a,
.tppostslider_style3 .comment > i{
	color:#999;
	transition:all 0.3s ease-in-out 0s;
}
.tppostslider_style3 .tppostslider_style3_autors > a:hover,
.tppostslider_style3 .comment > a:hover{
	text-decoration: none;
	color:#333;
}
.tppostslider_style3 .comment > i{
	margin-right: 8px;
	font-size: 15px;
}
.tppostslider_style3 .tppostslider_style3_p_description{
	line-height: 1.7;
	color:#666;
	font-size: 13px;
	margin-bottom: 20px;
}
.tppostslider_style3 .tppostslider_style3_p_readmores{
	display: inline-block;
	padding: 10px 35px;
	background: #3398db;
	color: #ffffff;
	border-radius: 5px;
	font-size: 15px;
	font-weight: 900;
	letter-spacing: 1px;
	line-height: 20px;
	margin-bottom: 5px;
	text-transform: uppercase;
	transition:all 0.3s ease-in-out 0s;
	text-decoration:none;
}
.tppostslider_style3 .tppostslider_style3_p_readmores:hover{
	text-decoration: none;
	color:#fff;
	background: #333;
}

/* Post Slider Style 004 */
#tppostslider_style4 .tppostslider_style4-images {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
  position: relative;
  width: 100%;
}
#tppostslider_style4 .tppostslider_style4-images::after {
  background-image: linear-gradient(transparent 0%, transparent 30%, rgba(0, 0, 0, 0.1) 54%, rgba(0, 0, 0, 0.5) 93%, rgba(0, 0, 0, 0.59) 100%);
  bottom: 0;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 2;
}
#tppostslider_style4 .tppostslider_style4-images .tppostslider_style4-post {
  bottom: 15px;
  left: 0;
  position: absolute;
  width: 100%;
  z-index: 3;
  padding: 0px 20px;
}
#tppostslider_style4 .tppostslider_style4-images .tppostslider_style4-post .tppostslider_style4-date {

  text-align: left;
}
#tppostslider_style4 .tppostslider_style4-images .tppostslider_style4-post h2 {
  font-weight: 600;
  letter-spacing: 1px;
}

/* Post Slider Style 02   */
.tpcarouselpro-theme2 {
  display: block;
  overflow: hidden;
  position: relative;
}
.tpcarouselpro-theme2-title {
  background: #000
  font-size: 15px;
  text-align: center;
  color:#fff;
  bottom: 0;
  display: block;
  line-height: 1.4em;
  padding: 10px 15px;
  position: absolute;
  width: 100%;
}
.tpcarouselpro-theme2-thumb {
  display: block;
  overflow: hidden;
  position: relative;
}

/* Post Slider Style 03   */
.tpcarouselpro-theme3{
    position: relative;
    text-align: center;
    overflow: hidden;
}
.tpcarouselpro-theme3 .tpcarouselpro-theme3-img{
    position: relative;
}
.tpcarouselpro-theme3 .tppostslider_style3_img > a {
  box-shadow: none;
  outline: medium none;
  text-decoration: none;
}
.tpcarouselpro-theme3 .tpcarouselpro-theme3-img:before{
    content: "";
    width: 100%;
    height: 100%;
    background: rgba(30, 115, 190, 0.68) none repeat scroll 0 0;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 1;
}
.tpcarouselpro-theme3:hover .tpcarouselpro-theme3-img:before{
    opacity: 1;
}
.tpcarouselpro-theme3 .tpcarouselpro-theme3-link{
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height:100%;
}
.tpcarouselpro-theme3 .tpcarouselpro-theme3-link a{
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50%;
    background: #000;
    color: #fff;
    position: relative;
    top:45%;
    display: inline-block;
    font-size: 16px;
    transform: rotateZ(180deg);
    transition: transform 0.3s ease 0s, opacity 0.3s ease 0s;
}
.tpcarouselpro-theme3 .tpcarouselpro-theme3-link a:hover{
    text-decoration: none;
    color:#718873;
}
.tpcarouselpro-theme3:hover .tpcarouselpro-theme3-link a{
    transform: rotateZ(0deg);
}
.tpcarouselpro-theme3 .tpcarouselpro-theme3-link .fa-link{
    transform-origin: -190% 50% 0;
}
.tpcarouselpro-theme3 .tpcarouselpro-theme3-title{
	background: #fff;
	font-size: 14px;
	text-align: left;
	color:#fff;
	display: block;
	line-height: 30px;
	overflow: hidden;
	padding: 5px;
}
.tpcarouselpro-theme3 .tps_single_excerpt_area {
  padding-top: 10px;
}
.tpcarouselpro-theme3 .tps_single_excerpt_area > a {
  box-shadow: none;
  font-size: 15px;
  outline: medium none;
  text-decoration: none;
}

/* Post Slider Style 04   */
.tpcarouselpro-theme4{
    position: relative;
    text-align: center;
    overflow: hidden;
}
.tpcarouselpro-theme4 img{
    width: 100%;
}
.tpcarouselpro-theme4-options{
    position: absolute;
    top:-100%;
    left:0;
    width: 100%;
    height: 100%;
    background: #ddd;
    transition: all 0.5s ease 0s;
}
.tpcarouselpro-theme4-options .tpcarouselpro-theme4-link {
    border: 2px solid #000;
    position: relative;
    top: 40%;
    width: 40px;
    line-height: 40px;
    font-size: 20px;
    display: inline-block;
    border-radius: 50%;
    color: #fff;
	background: #000;
}
.tpcarouselpro-theme4-options .tpcarouselpro-theme4-link:hover{
    color:#fff;
}
.tpcarouselpro-theme4:hover .tpcarouselpro-theme4-options{
    top:0;
}
.tpcarouselpro-theme4-title{
	background: #ddd;
	font-size: 12px;
	text-align: center;
	color:#000;
	display: block;
	line-height: 30px;
	overflow: hidden;
	padding: 5px;
}

/* Post Slider Style 05   */
.tppostslider_style_05_info {
	bottom: 0;
	left: 0;
	position: absolute;
	width: 100%;
}
.tppostsliderpr_style_05 {
    padding: 0;
}
.tppostsliderpr_style_05_content {
    background: #fff none repeat scroll 0 0;
    margin: 0 20px;
    padding: 14px 15px 10px;
	margin-bottom:20px;
}
.tppostsliderpr_style_05_content .tppostsliderpr_style_05_title a {
    font-size: 18px;
	text-decoration: none;
	box-shadow: none;
	outline: none;
}
.tppostsliderpr_style_05_content .tppostsliderpr_style_05_title {
	display: block;
	margin-bottom: 7px;
	margin-top: 7px;
	overflow: hidden;
	width: 100%;
}
.tppostsliderpr_style_05_categories {
    margin-bottom: 0;
    margin-left: 0;
    margin-top: 0;
}
.tppostsliderpr_style_05_categories a:hover {
    opacity: 0.7;
}
.tppostsliderpr_style_05_categories a {
	background: #222 none repeat scroll 0 0;
	border-radius: 0;
	color: #fff;
	display: block;
	float: left;
	font-size: 10px;
	font-weight: 500;
	height: 17px;
	line-height: 17px;
	margin-right: 3px;
	padding: 0 8px;
	position: relative;
	text-transform: uppercase;
	transition: all 0.3s ease 0s;
}
.tppostsliderpr_style_05 .tppostsliderpr_style_05_thumb {
  float: left;
  position: relative;
  width: 100%;
}

/* Post Slider Style 06   */
.tppostsliderpr_style_06 {
    padding: 0;
    position: relative;
}
.tppostsliderpr_style_06 .tppostsliderpr_style_06_thumb {
  float: none;
  position: unset;
  width: 100%;
}
.tppostsliderpr_style_06_content_area {
  padding: 15px;
}
.tppostsliderpr_style_06_content_area .tppostsliderpr_style_06_title {
  display: block;
  padding: 10px 0;
  overflow: hidden;
  width: 100%;
}
.tppostsliderpr_style_06_content_area .tppostsliderpr_style_06_title a {
    font-size: 18px;
	text-decoration: none;
	box-shadow: none;
	outline: none;
}
.tppostsliderpr_style_06 .tppostsliderpr_style_06_categories a {
    background: #222 none repeat scroll 0 0;
    border-radius: 0;
    color: #fff;
    display: block;
    float: left;
    font-size: 10px;
    font-weight: 500;
    height: 22px;
    line-height: 15px;
    margin-right: 5px;
    padding: 4px;
    position: relative;
    text-transform: uppercase;
    transition: all 0.3s ease 0s;
}
.tppostsliderpr_style_06_categories a:hover {
    opacity: 0.7;
}
.tppostsliderpr_style_06_categories {
    margin-bottom: 0;
    margin-left: 0;
    margin-top: 0;
}
.tppostsliderpr_style_06_meta span {
    display: inline-block;
    float: none;
}

/* Post Slider Style 07   */
.tppostslider_style_07_info {
	bottom: 0;
	left: 0;
	position: absolute;
	width: 100%;
}
.tppostsliderpr_style_07 {
    padding: 0;
    position: relative;
}
.tppostsliderpr_style_07_content {
  background: rgba(0, 0, 0, 0.7) none repeat scroll 0 0;
  padding: 14px 15px 10px;
}
.tppostsliderpr_style_07_content .tppostsliderpr_style_07_title a {
    font-size: 18px;
	text-decoration: none;
	box-shadow: none;
	outline: none;
	color:#fff;
}
.tppostsliderpr_style_07_content .tppostsliderpr_style_07_title {
	display: block;
	margin-bottom: 0px;
	margin-top: 7px;
	overflow: hidden;
	width: 100%;
}
.tppostsliderpr_style_07_categories {
  display: block;
  margin-bottom: 0;
  margin-left: 0;
  margin-top: 0;
  overflow: hidden;
}
.tppostsliderpr_style_07_categories a:hover {
    opacity: 0.7;
}
.tppostsliderpr_style_07_categories a {
    background: #fff none repeat scroll 0 0;
    border-radius: 0;
    color: #000;
    display: block;
    float: left;
    font-size: 10px;
    font-weight: 500;
    height: 18px;
    line-height: 20px;
    margin-right: 3px;
    padding: 0 8px;
    position: relative;
    text-transform: uppercase;
    transition: all 0.3s ease 0s;
}
.tppostsliderpr_style_07 .tppostsliderpr_style_07_thumb {
  position: relative;
  width: 100%;
}
.tppostsliderpr_style_07_meta span {
    display: inline-block;
    float: none;
	color:#fff;
	font-size:12px;
	margin-right: 10px;
}

.tppostsliderpr_style_07_meta span a i.fa {
	margin-right:5px;
}

.tppostsliderpr_style_07_meta_date i.fa {
	margin-right:5px;
}

/* Post Slider Style 08   */
.tppostsliderpro_style_08{
    position: relative;
    overflow: hidden;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
}
.tppostsliderpro_style_08 .tppostsliderpr_style_08_thumb{
    position: relative;
    width: 100%;
}
.tppostsliderpro_style_08 .tppostslider_style_08_info{
    padding:20px;
}
.tppostsliderpr_style_08_overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0;
    margin: auto;
    background-color: rgba(0, 0, 0, 0.5);
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
.tppostsliderpr_style_08_title {
    font-size: 20px;
    line-height: 28px;
    color: #fff;
    font-weight: 700;
    position: absolute;
    bottom: 20px;
    left: 20px;
    padding-right: 0px;
}
.tppostsliderpr_style_08_meta {
    display: block;
    overflow: hidden;
    margin-bottom: 10px;
}
.tppostsliderpr_style_08_description {
    display: block;
    overflow: hidden;
	font-size: 14px;
}
.tppostsliderpr_style_08_meta_authoer {
    float: left;
    display: inline-block;
	text-transform:capitalize;
}
.tppostsliderpr_style_08_meta_authoer a i.fa { 
	margin-right: 5px;
}
.tppostsliderpr_style_08_meta_date {
    float: right;
    display: inline-block;
    overflow: hidden;
}
.tppostsliderpr_style_08_meta_date i.fa { 
	margin-right: 5px;
}

/* Post Slider Style 09   */
.tpcarouselpro-theme9{
    position: relative;
    overflow: hidden;
    text-align: center;
}
.tpcarouselpro-theme9:after{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #ddd;
    opacity: 0;
    transition: all 0.5s ease 0s;
}
.tpcarouselpro-theme9:hover:after{
    opacity: 1;
}
.tpcarouselpro-theme9 img{
    width: 100%;
    height: auto;
}
.tpcarouselpro-theme9 .tpcarouselpro-theme9-icons-link{
    display: inline-block;
    width: 35px;
    height: 32px;
    line-height: 34px;
    border-radius: 50%;
    background: #dff3e4;
    position: absolute;
    top: 35%;
    opacity: 0;
    z-index: 2;
    transition: all 0.5s ease 0s;
}
.tpcarouselpro-theme9 .tpcarouselpro-theme9-icons-link{
    left: 15%;
}
.tpcarouselpro-theme9:hover .tpcarouselpro-theme9-icons-link{
    left: 40%;
    opacity: 1;
}
.tpcarouselpro-theme9 .tpcarouselpro-theme9-icons a {
    display: block;
    font-size: 18px;
    color: #ffff;
	background: #000;
}
.tpcarouselpro-theme9 .tpcarouselpro-theme9-content{
    width: 100%;
	background: #ddd;
    position: absolute;
    bottom: -100%;
    left: 0;
    padding: 5px 5px;
    z-index: 2;
    transition: all 0.5s ease 0s;
}
.tpcarouselpro-theme9:hover .tpcarouselpro-theme9-content{
    bottom: 0;
}
.tpcarouselpro-theme9 .tpcarouselpro-theme9-title{
    display: block;
    text-transform: capitalize;
}

/* Post Slider Style 10   */

#tpcarouselpro-theme10{
  background: #ddd;
}
#tpcarouselpro-theme10 .tpcarouselpro-theme10-post{
  padding: 10px;
}
#tpcarouselpro-theme10 .tpcarouselpro-theme10-content {
  padding: 0 10px 10px;
}
#tpcarouselpro-theme10 .tpcarouselpro-theme10-post .tpcarouselpro-theme10-date {
  font-size: 13px;
  font-style: italic;
  text-align: left;
}
#tpcarouselpro-theme10 .tpcarouselpro-theme10-title{
  margin-bottom: 10px; 
  margin-top: 10px;
}
#tpcarouselpro-theme10 .tpcarouselpro-theme10-title h3 {
  color: #000;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin: 0px;
  padding 0px;
  text-align: left;
}
#tpcarouselpro-theme10 .content_area {
  margin-bottom: 15px;
  font-size: 13px;
}
#tpcarouselpro-theme10 .excerpt_area a {
  background: #000 none repeat scroll 0 0;
  box-shadow: none;
  color: #fff;
  display: inline-block;
  font-size: 10px;
  margin: 0;
  outline: medium none;
  padding: 10px 15px;
  text-decoration: none;
  text-transform: uppercase;
}